---
import Base from '../../layouts/Base.astro';
import Recientes from '../../components/Recientes.tsx';

const lang = 'va';
---

<Base lang={lang}>
  <main class="pt-20">
    <Recientes client:only="react" lang={lang} />
  </main>
</Base>
